#boxLogin {
    width: 450px;
    height: 460px;
    background-color: whitesmoke;
    border: blue solid 2px;
    border-radius: 15px;
    margin-top: 80px;
    position: absolute;
}

#principal {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#logo {
    position: absolute;
    display: flex;
}

#fonte {
    font-family: Trebuchet MS, sans-serif;
    font-size: 40px;
}

.label{
    margin-left: 3px;
}

#botao{
    text-decoration: none;
    color: white;
}